@font-face {
    font-family: 'Sinkin';
    src: url('/fonts/SinkinSans-400Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Sinkin';
    src: url('/fonts/SinkinSans-500Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Sinkin';
    src: url('/fonts/SinkinSans-700Bold.otf');
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');